// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #00558E;
$danger: #DA2675;
$graduacao: #257CAD;
$tecnologo: #44008C;
$mba: #008C82;
$dark-blue: #012C44;
$light-blue: #2782AA;
$green: #3DA8AF;

$theme-colors: (
  "graduacao": #257CAD,
  "tecnologo": #44008C,
  "mba": #008C82,
  "pink": #D42977,
  "dark-blue": #012C44,
  "light-blue": #2782AA,
  "green": #3DA8AF,
);

$enable-responsive-font-sizes: true;
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', sans-serif;
$headings-font-family: $montserrat;
